<!DOCTYPE html>
<html >
<head>
    <title>
        <%= title %>
        
    </title>
</head>
<body>

    <header>
        page header
    </header>

    <h1> Codial /Profile page </h1>

    <footer>
        page footer
    </footer>

</body>
</html>