#footer-foot{
    height: 10vh;
    background-color: lightcoral;
    margin-top:160px;

    h2{
        font-size: 15px;
        color: antiquewhite;
    }
    ul{
        display:flex;
        text-decoration: none;
        margin:10px;
    }
}