#header-head{
    margin: 0px;
    height:8vh;
    background-color:lightcoral;
    
    h2{
        color: antiquewhite;
        font-size:50px;
        display:inline;
    }
    ul{
        display: flex;
        text-align: left;
        margin:0px;
        li{
            margin:20px;
        }
    }
}