#header-head{
    margin: 0px;
    height:8vh;
    background-color:lightcoral;
    display:flex;
    justify-content: space-between;
    h2{
        color: antiquewhite;
        font-size:50px;
        display:inline;
        margin-top: 0px;
    }
    ul{
        display: flex;
        text-align: left;
        margin:0px;
        li{
            margin:20px;
        }
    }
    a{
        cursor: pointer;
    }
}